#abc {
    border-radius: 5vh;
    box-shadow: 0 8px 16px rgba(34, 15, 53, 0.5),
        0 12px 40px rgba(222, 212, 232, 0.5);
    background: antiquewhite;
    transition: all 0.3s ease;
}
#abc:hover {
    transform: translateY(-10px);
}

h3 {
    color: black;
}
#head {
    color: black;
    border-bottom: 2px solid #000;
    border-image: linear-gradient(
            to right,
            transparent 5%,
            #000 50%,
            transparent 95%
        )
        100% 1;
}

#svgImg {
    width: 45px;
    margin-inline-end: 3%;
}

.mpimg img {
    width: 100%;
    aspect-ratio: 3/2;
}