/* .formLog form{
    background-color: blue;
} */

.wrap {
  width: 400px;
  background: transparent;
  color: black;
  border-radius: 10px;
  border: 2px solid rgb(13, 202, 240);
  padding: 30px 40px;
  /* margin-top: 300px; */
}
.wrap h1 {
  font-size: 36px;
  text-align: center;
  /* color: rgb(13, 202, 240); */
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
  font-size: 16px;
  color: black;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: black;
}

.input-box input::placeholder {
  color: black;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0px 15px;
}

.remember-forget label input {
  accent-color: #54d1c9;
  margin-right: 3px;
}
.remember-forget a {
  color: #54d1c9;
  text-decoration: none;
  padding-right: 10px;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.btn1 {
  width: 100%;
  height: 45px;
  /* background-color: rgba(13, 202, 240, 0.4); */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 40px;
  font-weight: 600;
}

.register-link {
  display: flex;
  justify-content: center;
  font-size: 14.5px;
  margin: 20px 0px 15px;
}

.register-link a {
  color: #54d1c9;
  text-decoration: none;
  font-weight: 600;
}

/* ToastStyles.css */

.Toastify__toast {
  border-radius: 8px;
}

.Toastify__toast--success {
  background: lavender;
  color: white;
}

.Toastify__toast--error {
  background: lavender; 
  color: black;
}

.Toastify__toast-body {
  font-size: 16px;
  padding: 10px;
}

.Toastify__toast-container {
  top: 20px;
}
